<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
<header>
  <%- include('../partials/header'); %>
</header>
<main>
  <div class="jumbotron">
    <h3>Kitchen View</h3> 
    <ul>
      <% orders.forEach((order)=>{%> 
          <li class="order-status">
            Table No.: <%=order.table%>, Status: <%=order.status%>, Dishes List:
            <ul>
              <%for(const dish of order.dishes) {%>
                <li>
                  <%=dish.name%>,
                  <%=Number(dish.prepareTime) * 1000%>
                </li>
              <%}%> 
            </ul>
            <a href="/orders/<%=order.id%>">Edit Order</a>
            <br />
          </li> 
      <%});%> 
    </ul> 
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>